body {
    background-color: oldlace;
    margin-left:15%;
    margin-right: 15%;
}
@font-face {
    font-family: "Carnevalee";
    src: url('fonts/Carnevalee\ Freakshow.ttf');
}

h1, h2, h3 {
    text-align: center;
    font-family: Carnevalee;
    font-kerning: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

h1 {
    font-size: 60px;
    color: maroon;
}

h2 {
    font-size: 40px;
    color: maroon;
}

div.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
}

img {
    align-content: center;
}

figcaption {
    color:maroon;
    font-style: italic;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-kerning: normal;
    line-height: 1.5;
}

a:link {
    color: midnightblue;
    text-decoration: underline;
    font-style: italic;
}

link {
    color: midnightblue;
    text-decoration: underline;
    font-style: italic;
}

a:hover {
    color: maroon;
}